<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  <body>
    {%- include sidebar.html -%}
    <div class = "base--container">
      {%- include header.html -%}
      <main class="page-content" aria-label="Content">
        <div class="wrapper">
          {{ content }}
        </div>
      </main>
    </div>
  </body>
  <script src="/assets/script/main.js"></script>
  {%- if page.name != "search.html" -%}
    <script src="/assets/script/searchbar.js"></script>
  {%- endif -%}


</html>
